/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image:
  url('/fondo_comida.png'), 
  linear-gradient(to right, #f7c3b2, #f0b194);
  background-repeat: repeat,repeat;
  background-size: auto, cover;
  margin: 0;
  padding: 0;
  height: 100%;
}