header {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: linear-gradient(
         to bottom,
      #fae2bf,
      #fdf2e1
  );
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 1rem;
    margin: 0 auto 2rem auto;

    box-shadow: 0 0.5px 6px rgba(0, 0, 0, 0.6);

}


header h1{
    display: inline-block;
    vertical-align: top;
    color: rgb(255, 255, 255);
    font-size:3rem;
    text-align: center;
    margin: 20px auto;   
}
header img{
    padding-right: 1rem;
    width: 10rem;
    object-fit: contain;
    background-color: transparent;
    
}


.app-name{
    text-align: left;
    padding-left: 1rem;
}
.menu{
    text-align: center;
    max-width: 100%;
}

.nav ul{
     list-style-type: none;
     display: inline-block;
}
nav li {
    display: inline-block; 
    margin-right: 20px;
}

a {
    text-decoration:none;
    vertical-align: top;
    color: #CF8360;
    font-size:2rem;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
}

nav a:hover {
  text-decoration: solid;
  color: #F5C7B8;
}

#search-addon:hover i {
  color: #F5C7B8; 
}

.search-bar {
margin-left: 0;
margin-right: 10px;
  max-width:   200px; 
  margin-left: auto;
}
.btn.btn-secondary{
    background: #CF8360;
}