<header>
    <div class="app-name">
        <img src="yummy-logo.png" alt="app-icon">
        <h1>Yummy Food</h1>
    </div>
    <div class="menu">
        <nav>
            <ul>
                <li><a [routerLink]="['/recipes/breakfast']">Breakfast</a></li>
                <li><a [routerLink]="['/recipes/dessert']">Desserts</a></li>
                <li><a [routerLink]="['/recipes/pasta']">Pasta</a></li>
                <li><a [routerLink]="['/recipes/meat']">Meat</a></li>
                <li><a [routerLink]="['/recipes/seafood']">Seafood</a></li>
                <li><a [routerLink]="['/recipes/vegan']">Vegan</a></li>
                <li><a [routerLink]="['/recipes/vegetarian']">Vegetarian</a></li>
                
            </ul>
        </nav>
    </div>
</header>