.container{
    display: flex!important;
    justify-content: center!important;
    flex-wrap: nowrap!important;
    align-items: stretch!important;
}
.row{
    background-color: rgb(255, 236, 212);
    box-shadow: 0 0.2px 2px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}
.card-body{
    padding: 0rem;
}
.col-sm{
    margin: 0rem;
}
