.container{
    display: flex!important;
    justify-content: center!important;
    flex-wrap: nowrap!important;
    align-items: stretch!important;
}
.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem!important; /* opcional para espacio alrededor */
}

.card-body{
    text-align: center;
}
.card{
     background: #ffd7bc;
     box-shadow: 0 0.5px 6px rgba(0, 0, 0, 0.6);
     border-radius: 12px;
}

.btn.btn-primary{
    color: rgb(37, 37, 37);
    background: #a0f5d4;
    box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.6);
}


.card-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}