.container{
    display: flex!important;
    justify-content: center!important;
    flex-wrap: nowrap!important;
    align-items: stretch!important;
}
.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem!important; /* opcional para espacio alrededor */
}

.card-body{
    text-align: center;
    color: #cf8360;
}
.card{
     background: #ffddc7;
     box-shadow: 0 0.5px 6px rgba(0, 0, 0, 0.6);
     border-radius: 12px;

}
.list-group-item{
  background:#F5C7B8;
  color: #cf8360;
}

.card-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}